@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #442a1ed9;
    border: 2px solid #442a1e;
    color: #99abb4;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #20150f;
    color: #b2907c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #333237cd;
    border: 2px solid #333237;
    color: #dbae67;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #d9b094;
    color: #70381f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a{
    background-color: #44240dd7;
    border: 2px solid #44240d;
    color: #c1c3c2;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #34200d;
    color: #cccbd0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.footer {
    height: 250px;
    background-color: #302f34;
    color: #d0b068;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #d0b068;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #d3c6a5;
    transform: scale(1.5);
}